<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$(find julie_navigation)/maps/maze4.yaml"/>
  <arg name="costmap_config" default="/home/poine/work/simone/trunk/sbpl/test_sbpl/costmap2d.yaml"/>
  <arg name="x0" default="-0.8"/>
  <arg name="y0" default="-2.87"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(arg costmap_config)" command="load" ns="costmap" />
  </node>


  <!-- Publishes the voxel grid to rviz for display -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>


  <node pkg="tf" type="static_transform_publisher" name="transform_pub" args="$(arg x0) $(arg y0) 0 0 0 0 /base_footprint /map 100"/> 

  
</launch>	
